#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}


.container-grid {
  height: auto;
  display: grid; /*de que forma se visualiza*/
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.container-flex {
  width: 80vh;
  justify-content: center;
}

.card {
  width: auto;
  margin: 1rem;

  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;

  background: #000000;
  box-shadow: 0px 1px 10px #00000033;

  border: 0.5px solid #63a70a70;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transition: all 400ms ease-out;

  overflow: hidden;
  cursor: default;

  &:hover {
    box-shadow: -6px 8px 10px #646cffaa;
    transform: translateY(-3%);
  }

  & img {
    border-radius: 1rem;
    width: 100%;

    &:hover{
      transition: 0.5s;
      transform: scale(1.2, 1.2);
    }
  
  }
}

.btn{
  background:black;
  border: 1px solid #646cffaa;
  border-radius: 0.8rem;
  transition: all 400ms ease;
  padding: 0.8rem;
  margin: 0.2rem;
  text-decoration: none;

    &:hover {
      background:#646cffaa;
      color: black;
      transition: 0.5s;
      transform: scale(1.2, 1.2);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.imgCard{
  width: 280px;
  height: 280px;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (max-width: 860px) {
  .container-grid {
    height: auto;
    display: grid; /*de que forma se visualiza*/
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 576px) {
  .container-grid {
    height: auto;
    display: grid; /*de que forma se visualiza*/
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}